<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--custom css style -->
    @RenderSection("style", required: false)


</head>
<body class="hold-transition sidebar-mini layout-fixed">
    @RenderBody()

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>